html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
footer{
    display: flex;
    color: wheat;
    justify-content: center;
    width: 100%;

}
body {
    background-color: #292931;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-color: #141418;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('backpiece.png');
}
.floating-image1,.floating-image2,.floating-image3{
    display: flex;
    position: absolute;
    z-index: 2;
    opacity: .9;
}
.floating-image2{
    opacity: .5;
}
.floating-image1{
    top: 190%;
    left: 70%;
}
.floating-image2{
    top: 170%;
    left: 20%;
    margin-top: 1000px;
}
.floating-image3{
    top: 220%;
    left: 20%;
}
.floating-image1 img{
    display: flex;
    width: 150px;
    height: auto;
    z-index: 3;
    
}
.floating-image3 img{
    width: 200px;
    z-index: 2;
}
.floating-image2 img{
    width: auto;
    height: 500px;
}

:root{
    font-family: 'Crimson Text', serif;
    text-transform: uppercase;
}
.rotate-logo {
    display: none;

    width: 100px;
    height: auto;
    z-index: 3;
    margin-left: auto;
    
}

.rotate-logo img {
    width: 100%; /* Make the image fill the container */
    height: 100%; /* Make the image fill the container */
    object-fit: contain;
    
}

.page1{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #fffbe8;
    color: #242524;
    flex-direction: column;
}
.socialpage{
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    color: #fffbe8;
    background-color: #242529;
}
.instaicon{
    justify-content: center;
    text-align: center;
}
.webicon{
    justify-content: center;
    text-align: center;
}
.tiktokicon{
    justify-content: center;
    text-align: center;
}
.portraitscript-wrapper{
    display: flex;
    flex-direction: row;
    height: 65%;
    margin-top: -20px;
    margin-left: 30px;
}
.page2{
    display: flex;
    width: 100%;
    height: 120vh;
    background-color: #242524;
    color: #fffbe8;
    padding: 0;
    flex-direction: column;
    position: relative;
    
}
.upper-container {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    position: relative; /* Add relative positioning to act as a container for absolute positioned elements */
}
.image-container{
    z-index: 4;
}
.hiddenImage1 {
    display: flex;
    height: 300px;
    width: 200px;
    position: absolute;
    top: 10%; /* Adjust top position */
    left: 10%; /* Adjust left position */
    transform: translate(-50%, -50%); /* Center the element */
    z-index: 4;
}

.secondary-image {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50%;
    min-width: 50%;
    max-width: 75%;
    position: relative; /* Add relative positioning */
    margin-top: 75px;
    z-index: 1; /* Ensure it's above other elements */
}

.secondary-image img{
    display: flex;
    width: 100%;
    
    object-fit: contain;
}
.second-text {
    display: flex;
    justify-content: center;
    width: 25%;
    height: 60%;
    color: #fffbe8;
    position: relative;
    margin-top: 60px;
    z-index: 1;
    font-size: 34px;
    align-items: center;
}



.hiddenImage2 {
    display: flex;
    height: 300px;
    width: auto;
    top: 60%;
    position: absolute;
    left: 70%; /* Adjust right position */
    
    justify-content: center;
}



.page3{
    width: 100%;
    height: 100vh;

    padding: 0;
}
.half-box{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(20, 20, 24, 0.7);
    justify-content: center;
    align-items: center;
}
.half-title{
    font-size: 62px;
    color: #fffbe8;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3;
    text-shadow: 
    -1px -1px 0 #141418,
    1px -1px 0 #141418,
    -1px 1px 0 #141418,
    1px 1px 0 #141418;
}
.page1title {
    display: flex;
    width: 75%;
    height: auto;
    margin-left: 40px;
    flex-direction: column;
    z-index: 2;
    margin-top: 20px;
    position: relative;
    top: 20px;
}

.title1 {
    opacity: 0;
    display: flex;
    width: auto; /* Make sure titles take 100% width */
    height: 50%;
    align-items: center;
    font-size: 25px;
    letter-spacing: .5ch;
    margin: 0; /* Reset margin */
    padding: 10px;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
}
.title2 {
    opacity: 0;
    display: flex;
    width: auto; /* Make sure titles take 100% width */
    height: 100%;
    align-items: center;
    font-size: 102px;
    letter-spacing: .5ch;
    margin: 0; /* Reset margin */
    padding: 10px;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
}
.title2{
    text-shadow: 
    -1px -1px 0 #fffbe8,
    1px -1px 0 #fffbe8,
    -1px 1px 0 #fffbe8,
    1px 1px 0 #fffbe8;
}
.selfportrait{
    display:flex;
    opacity: 0;
    width: auto;
    height: 80%;
    background-color: black;
    z-index: 1;
    justify-content: center;
    align-items: center;
    
}
.selfportrait img{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
.page1script{
    display: flex;
    height: auto;
    width: 100%;
    margin-left: 10px;
    flex-direction: column;
    opacity: 0;
    border-top: 1px solid black;
    margin-top: auto;
    padding-top: 20px;
    margin-bottom: 40px;
}

.script1,.script2{
    display: flex;
    height: 100px;
    width: 100%;
    flex: 1;
    font-size: 32px;
    align-items: center;
    text-transform: uppercase;
    margin: 2px;
    font-weight: bold;
}
.script1{
    margin-top: 10px;
    margin-bottom: 4px;
}
.script2{
    margin-top:4px;
}
.serpent {
    display: flex;
    height: auto;
    width: auto;
    margin-top: auto;
    align-items: flex-end; /* Align items to the flex-end (bottom) */
    opacity: 0;
}
.serpent img {
    display: flex;
    width: 100%;
    height: auto; /* Adjust height as needed */
    object-fit: contain;
}
.serpentscript-wrapper{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.page4-decoration{
    display: flex;
    height: 100px;
    width: 100%;
    background-image: url(pattern.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: -2px;
}
.page4 {
    height: auto;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #fffbe8;
    flex-direction: column;
  }
  
  .static-carousel{
    display: flex;
    width: 100%;
    height: 600px;
    flex-direction: row;
    margin-bottom: 20px;
    border-bottom: 1px solid #242529;
    padding-bottom: 20px;
  }
  .img1,.img2,.img3{
    width: 33%;
    height: 100%;
    margin: 10px;
  }
  .img1{
    background-image: url(hdtat.jpeg);
    background-position: center;
    background-size: cover;
  }
  .img2{
    background-image: url(backpiece.png);
    background-position: center;
    background-size: cover;
  }
  .img3{
    background-image: url(tat3.png);
    background-position: center;
    background-size: cover;
  }
  .carousel-container {
    display: none;
    width: 80%;
    height: 800px;
    overflow: hidden; /* Hide any overflow */
    background-color: #141418;
}

.tatimg {
    flex: 0 0 100%; /* Ensure each image takes full width */
    transition: transform .5s; /* Add a smooth transition effect */
    
}

.tatimg img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Make the image fill the container */
    object-fit: cover; /* Ensure the image covers the entire container */
}

.active {
    transform: translateX(0); /* Show the active slide */
    
}


.nav-buttons {
    display: none;
    justify-content: center;
    margin-top: 10px;
    border: 1px solid #242529;
    width: 100%;
    height: 50px;
    gap: 50px;
}

.nav-button-right,
.nav-button-left {
    cursor: pointer;
    font-size: 30px;
}
.nav-button-left,.nav-button-right{
    height: auto;
}

.carousel-upper-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 15%;
    width: 100%;
}
.carousel-img-left,.carousel-img-right{
display: flex;
height: 60%;
width: 20%;
margin: 0;
padding: 0;
justify-content: center;
}
.carousel-img-right img,.carousel-img-left img{
    width: 100%;
    height: 100%;
    justify-content: center;
}
.carousel-title{
    display: flex;
    font-size: 80px;
    width: 50%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: .5ch;
}
.tatimg{
    display: flex;
    width: 100%;
    height: auto;
}
.tatimg img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: .5;
}
.slide {
    display: none;
    height: 100%;
    width: 33%; /* Set the width to 33% for three equal-sized slides */
    
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    position: relative; /* Add relative positioning */
    padding: 20px;
}

.slide img {
    object-fit: cover; /* Ensure the image covers the entire container */
    width: 100%;
    height: 100%;
    display: block; /* Make sure the image is a block element */
    background-color: #141418;
}


.active-slide {
    display: flex;
}

.slide:nth-child(3) {
    margin-right: 0; /* Remove margin from the third slide to allow it to overflow */
}


.button-container button {
    border: none;
    padding: 10px 20px;
    background-color: #141418; /* Green background color */
    color: white; /* White text color */
    font-size: 16px; /* Increase font size */
    cursor: pointer; /* Add a pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
    margin: 0 10px; /* Add some space between buttons */
}

.button-container button:hover {
    background-color: #45a049; /* Darker green on hover */
}


.merch-container{
    display: flex;
    height: auto;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}
.merch-title{
    display: flex;
    font-size: 60px;
    border-bottom: 1px solid #141418;
}
.merch-wrapper{
    display: flex;
    width: 100%;
    height: 700px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    
}
.merch1-wrapper,.merch3-wrapper{
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #242529;
}
.merch1-wrapper{
    padding-left: 4px;
    padding-right: 4px;
}
.merch3-wrapper{
    padding-right: 4px;
    padding-left: 4px;
}


.merch1 {
    margin: 5px;
    display: flex;
    height: 90%;
    justify-content: center;
    align-items: center;
    background-color: #fffbe8;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.merch1 img {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: filter 0.3s; /* Add transition for the grayscale effect */
}

.merch1:hover img {
    filter: grayscale(100%);
}
.merch1:hover {
    background: url('tat1.png') center/cover; /* Set the hover image */
}
.merch1script{
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin: 4px;
    width: 100%;
    
}
.sub-title{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    font-size: 32px;
    background-color: #e5e4d2;
    height: auto;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #242529;
    letter-spacing: .3ch;
}
.sub-text{
 display: flex;
 font-size: 18px;
 background-color: #e5e4d2;
 width: 100%;
 height: 50px;
 justify-content: center;
 font-weight: bold;
 text-align: center;
 align-items: center;
}
.merch2script{
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin: 4px;
    width: 100%;
    
}
/* Add these styles to your external CSS file */

.menu {
    display: none;
    background-color: #e5e4d2;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    height: 100px;
    z-index: 9999;
    position: fixed;
    left: 70%;
    top: 8%;
    
}
.default-nico{
    display: flex;
}
.menu a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}
.rotate-wrapper{
    display: flex;
    background-color: #fffbe8;
    width: auto;
    height: 10px;
    align-items: center;
    z-index: 9999;
    
}
.rotate-logo {
    display: flex;
    position: fixed;
    cursor: pointer;
    top: 5%;
    left: 85%;
    z-index: 9999;
}

.rotate-logo img {
    width: 100px;
    transition: opacity 0.3s; /* Add transition effect for smooth hover */
}





.page2

.page5{
    display: flex;
    height: auto;
    width: 100%;
    color: #fffbe8;
    background-color: aqua;
    padding: 20px;
    
}
.socialmedia{
    width: 100%;
    height: auto;
    background-color: black;
    padding: 20px;
    flex-direction: row;

}
.instagram-wrapper{
    display: flex;
    background-color: blue;
    height: 100px;
    width: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.website-wrapper {
    display: flex;
    background-color: teal;
    height: 100px;
    width: 100px;
}
.form-container{
    display: flex;
    width: 100%;
    height: auto;
    
}

.contactme{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-text{
    width: 80%;
    height: auto;
    padding: 20px;
    color: #141414;
    align-items: center;
    justify-content: center;
}
.section1,.section2,.section3,.section4,.section5{
    border-radius: 25px;
    border: 3px solid burlywood;
}
.section1{
    background-color: #fffbe8;
    color: #242529;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 26px;
    width: 100%;
}
.section2{
    margin-top: 10px;
    width: 50%;
    display: flex;
    background-color: #242529;
    color: #fffbe8;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 18px;  
    flex-direction: column;
    
}
.section3{
    margin-top: 10px;
    width: 50%;
    display: flex;
    background-color: #242529;
    color: #fffbe8;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 18px;  
    
}
.section2-3wrap{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    height: auto;
    padding: 10px;
}
.section4{
    font-weight: bold;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    display: flex;
    height: auto;
    background-color: #fffbe8;
    color: #242529;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.section5{
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
    display: flex;
    height: auto;
    background-color: #fffbe8;
    color: #242529;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.wufoo{
    display: flex;
    width: 70%;
    height: 100%;
    border: 1px solid black;
    background-color: #fffbe8;
    overflow: auto;
    justify-content: center;
}
.form-script{
    display: flex;
    width: 100%;
    height: auto;
    border: 1px solid #45a049;
    background-color: #ad9664;
    align-items: center;
    justify-content: top;
    flex-direction: column;
}
.months {
    display: flex;
    width: 80%;
    height: 10%;
    background-color: #e5e4d2;
    margin-bottom: 20px;
    margin-top: 40px;
    justify-content: space-around;
    align-items: center;
}
.month-title{
    display: flex;
    width: 60%;
    height: 80%;
    font-size: 42px;
    justify-content: center;
    align-items: center;
    letter-spacing: .3ch;
    text-transform: uppercase;
}
.arrow-left,.arrow-right{
    width: 20%;
    display: flex;
    height: 100%;
    background: none;
    border: none;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}
.calendar-wrapper{
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Create 7 equal columns */
    width: 95%;
    height: 30%;
    
}
.day{
    font-size: 24px;
    border: 1px solid #141418;
    margin: 2px;
    background-color: #e5e4d2;
    height: 90%;
}
#d1 {
    
    background-color: red; /* Your desired background color for day with id d1 */
}




/*carousel test*/

.page6{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: black;
    
    flex-direction: column;
    align-items: center;
}
.side-pattern-left{
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: url(sideChecker.png);
    background-size: cover;
    left: 0;
}
.side-pattern-right{
    display: flex;
    width: 100px;
    position: absolute;
    height: 100%;
    background-image: url(sideChecker.png);
    background-size: cover;
    background-repeat: no-repeat;
    right: 0;
}
.social-title{
    display: flex;
    color: #ffc7d9;
    
    height: 30%;
    width: 50%;
    margin-top: 40px;
    flex-direction: column;
    
}

.soc-title1{
    
    height: 50%;
    font-size: 12px;
    letter-spacing: .3ch;
}
.soc-title2{
    
    height: 50%;
    font-size: 12px;
    letter-spacing: .3ch;
    text-align: end;
}
.media-container{
    display: flex;
    width: 80%;
    height: 200px;
    margin-top: 50px;
    color: #ffc7d9;
    align-items: center;
    border-bottom: 1px solid #ffc7d9;
}

.insta{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 36px;
}
.insta img{
    width: 10%;
    height: 10%;
}
  

@media screen and (max-width: 600px) {
    .rotate-wrapper{
        display: flex;
        height: 1px;
        width: auto;
    }
   .static-carousel{
    display: none;
   }
    .menu {
        display: none;
        position: fixed;
        background-color: #e5e4d2;
        min-width: 180px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: 10%; /* Adjust the value to move the menu below the logo */
        left: 50%;
        z-index: 9999;
    }
    .page4 {
        height: auto;
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-items: center;
        background-color: #e5e4d2;
        flex-direction: column;
      }
    .carousel-upper-wrap{
        flex-direction: row;
        height: 20%;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
    .carousel-img-right{
        display: flex;
        height: 100%;
        width: 30%;
    }
   .carousel-img-right img{
    width: 100%;
    height: 100%;
    object-fit: contain;
   }
    
    .carousel-img-left{
        display: flex;
        height: 100%;
        width: 30%;
    }
    .carousel-img-left img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .carousel-title{
        font-size: 50px;
        width: 100%;
        height: 40%;
        z-index: 2;
        
    }
    .carousel-container {
        display: flex;
        width: 90%;
        height: auto;
        background-color: #141418;
        overflow: hidden; /* Hide any overflow */
    }
    
    .tatimg {
        flex: 0 0 100%; /* Ensure each image takes full width */
        transition: transform 0.5s; /* Add a smooth transition effect */
    }
    
    .tatimg img {
        width: 100%; /* Make the image fill the container */
        height: auto; /* Make the image fill the container */
        object-fit: cover; /* Ensure the image covers the entire container */
    }
    
    .active {
        transform: translateX(0); /* Show the active slide */
    }
    
    .nav-buttons {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        gap: 50px;
    }
    
    .nav-button-right,
    .nav-button-left {
        cursor: pointer;
        font-size: 30px;
        margin-right: 40px;
        margin-left: 40px;
        border: 1px solid black;
    }
    .nav-button-left,.nav-button-right{
        height: auto;
        border: none;
    }
    
    .merch-container{
        display: flex;
        width: 100%;
        height: 5%;
        background-color: #141418;
        margin: 0;
        margin-top: 20px;
    }
    .merch-title{
        font-size: 24px;
        margin: 0;
        color: #e5e4d2;
    }
    .merch-wrapper{
        flex-direction: column;
        height: auto;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
    }
    .merch1-wrapper,.merch2-wrapper,.merch3-wrapper{
        display: flex;
        width: 90%;
        height: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
        justify-content: flex-start;
        padding: 10px;
        background-color: #242529;
        flex-direction: column;
    }
    .merch2-wrapper{
        flex-direction: column;
    }
    
    .merch1{
        display: flex;
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: center;
    background-color: #fffbe8;
    }
    .merch1script{
        width: 100%;
        height: 100px;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        background-color: black;
    }
    .merch2script{
        width: 100%;
        height: 100px;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        background-color: black;
        
    }
    .sub-title{
        font-size: 26px;
        font-weight: bold;
        flex: 1;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .sub-text{
        font-size: 14px;
        margin: 0;
        padding: 0;
        flex:1;
        width: 100%;
        text-align: center;
        
    }
    .social-title{
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: center;
        
    }
    .soc-title1,.soc-title2{
        font-size: 24px;
        text-align: center;
    }
    .media-container{
        display: flex;
        justify-content: center;
    }
    body {
        background-size: contain;
        background-position: center;
        background-color: #141418;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: url('backpiece.png');
        
    }
    .portraitscript-wrapper{
        display: flex;
        flex-direction: column;
        height: 75%;
        margin-top: 10px;
        justify-content: center;
        margin-left: 0;
    }
    .selfportrait{
        display:flex;
        width: 100%;
        height: 50%;
        z-index: 1;
        justify-content: center;
        align-items: center;
    }
    .selfportrait img{
        display: flex;
        width: 100%;
        min-width: 100%;
        
    }
    .second-text{
        display: flex;
        justify-content: center;
        width: 75%;
        height: auto;
        color: #fffbe8;
        margin-top: 20px;
        margin-left: 10px;
        z-index: 1;
        font-size: 26px;
        font-weight: bold;
        padding-left: 10px;
        padding-bottom: 100px;
        text-shadow: 
    -1px -1px 0 #252525,
    1px -1px 0 #252525,
    -1px 1px 0 #252525,
    1px 1px 0 #252525;
    }
    
    .hiddenImage1 {
        display: flex;
        height: 150px;
        width: 100px;
        position: absolute;
        top: 10%; /* Adjust top position */
        left: 10%; /* Adjust left position */
        transform: translate(-50%, -50%); /* Center the element */
        z-index: 4;
    }
    .hiddenImage2 {
        display: flex;
        height: 300px;
        width: 50px;
        position: absolute;
        bottom: 0%; /* Adjust bottom position */
        left: 50%; /* Adjust right position */
        
        justify-content: center;
    }
    
    .upper-container{
        width: 100%;
        height: auto;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .secondary-image {
       
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        position: relative; /* Add relative positioning */
        margin-top: 75px;
        z-index: 1; /* Ensure it's above other elements */
    }
    .secondary-image img{
        display: flex;
        width: 100%;
        max-width: 100%;
        object-fit: contain;
    }
    .page1{
        display: flex;
        width: auto;
        height: 100vh;
        padding: 0;
        margin: 0;
        justify-content: center;
    }
    .page1script{
        border-top: none;
        width: 100%;
        height: auto;
        justify-content: center;
        flex-direction: column;
        margin-left: 0;
    }
    .script1,.script2{
        font-size: 22px
    }
    
    .portraitscript-wrapper img {
        display: flex;
        width: 50%;
    }
    .serpentscript-wrapper{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }
    .serpentscript-wrapper img{
        display: flex;
        width: 100%;
    }
    .serpent{
        display: flex;
    height: auto;
    
    width: auto;
    margin-top: auto;
    align-items: flex-end; /* Align items to the flex-end (bottom) */
    justify-content: center;
    
    }
    .rotate-logo{
        display: flex;
        width: 50px;
        height: 50px;
        position: fixed;
        top: 2%;
        left: 70%;
        z-index: 3;
        
    }
    .rotate-logo img{
        width: 100%;
        height: auto;
        object-fit: contain;
        
    }
    .page1title{
        display: flex;
        height: auto;
        width: 100%;
        margin-left: 0;
        padding: 0;
        
    }
    .title2{
        line-height: 1;
        font-size: 60px;
        margin-bottom: -63px;
        margin-left: 30px;
    }
    .title1{
        font-size: 22px;
        margin-left: 30px;
        margin-bottom: -20px;
    }
    .half-box{
        align-items: start;
    }
    .half-title{
        font-size: 42px;
        margin-top: 20px;
        letter-spacing: .2ch;
        
    }
    .page4-decoration{
        display: flex;
        height: 100px;
        width: 100%;
        background-image: url(pattern.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        margin-bottom: -2px;
    }
    .floating-image1{
        top: 210%;
        left: 50%;
    }
    .floating-image2{
        display: none;
    }
    .floating-image3{
        top: 250%;
        left: 20%;
    }
    .floating-image1 img, .floating-image3 img{
        width: 150px;
    }
    .contactme{
        display: flex;
    }
    .contact-text{
        display: block;
        margin-right: 20px;
    }
    .section2-3wrap{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 0;
    }
    .section2,.section3{
        width: 100%;
    }
    .wufoo{
        width: 100%;
    }
}


@media screen and (max-height: 400px) {
    .page1,.page2,.page3,.page4,.socialmedia{
        height: 300vh;
        background-color: #141418;
    }
    .hiddenImage2{
        display: none;
    }
}